.App {
  font-family: Arial, sans-serif;
  background-color: #f9dcc2;
  height: 100vh; /* Considera usar 100% o auto según tu diseño */
  display: flex;
  flex-direction: column; /* Cambia a column si es necesario */
}